@charset "UTF-8";

/* SAGE2 is available for use under the SAGE2 Software License
 *
 * University of Illinois at Chicago's Electronic Visualization Laboratory (EVL)
 * and University of Hawai'i at Manoa's Laboratory for Advanced Visualization and
 * Applications (LAVA)
 *
 * See full text, terms and conditions in the LICENSE.txt included file
 *
 * Copyright (c) 2014
 */

/* CSS Document */

@import url('fonts.css');

* {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
}

td {
	padding: 2px 6px 2px 6px;
	border: solid 1px #000000;
}

#main {
	width: 920px;
	text-align: left;
	font-family: Arimo, Helvetica, sans-serif;
	font-size: 14px;
}

#videos {
	width: 920px;
	margin: 20px;
	border-collapse: collapse;
}

#videos tr {
	height: 24px;
}

.videoTitle {
	width: 600px;
}

.videoVolume {
	width: 120px;
}

.videoTime {
	width: 100px;
}

.videoPlay {
	width: 100px;
}

.videoVolumeMute {
	display: inline-block;
	width: 20px;
}

.videoVolumeSlider {
	width: 90px;
}
