@charset "UTF-8";

/* SAGE2 is available for use under the SAGE2 Software License
 *
 * University of Illinois at Chicago's Electronic Visualization Laboratory (EVL)
 * and University of Hawai'i at Manoa's Laboratory for Advanced Visualization and
 * Applications (LAVA)
 *
 * See full text, terms and conditions in the LICENSE.txt included file
 *
 * Copyright (c) 2014
 */

/* CSS Document */

@import url('fonts.css');

* {
	margin: 0;
	padding: 0;
	font-family: Arimo, Helvetica, sans-serif;
	font-size: 12px;
}

body {
	min-width: 115px;
	text-align: center;
	background-color: #EDEDED;
}

input, button {
	font-size: 11px;
}
	
#wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#topBlock {
	width: 100%;
	text-align: left;
	padding-top: 12px;
}

#topText {
	float: left;
	margin-left: 10px;
}

#topBtns {
	float: left;
	margin-left: 10px;
}

#fileDrop {
	width: 96%;
	margin-top: 12px;
	margin-left: 2%;
	text-align: center;
	border: solid 1px #000000;
}

#settings {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #EDEDED;
	text-align: left;
	z-index: 1001;
}

#settingsOKBtn {
	margin-left: 10px;
}

.sageLabel {
	display: inline-block;
    width: 110px;
    text-align: right;
    padding: 3px 10px 3px 0;
}

.clear {
	clear: both;
}

