@charset "UTF-8";

/* SAGE2 is available for use under the SAGE2 Software License
 *
 * University of Illinois at Chicago's Electronic Visualization Laboratory (EVL)
 * and University of Hawai'i at Manoa's Laboratory for Advanced Visualization and
 * Applications (LAVA)
 *
 * See full text, terms and conditions in the LICENSE.txt included file
 *
 * Copyright (c) 2014
 */

/* CSS Document */

@import url('/css/fonts.css');

* {
	font-family: Arimo, Helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	margin: 0;
	padding: 0;
}

header, section, footer, aside, nav, main, article, figure {
	display: block;
}

h1 {
	font-size: 18pt;
	color: #FFFFFF;
}

h2 {
	font-size: 14pt;
	color:  #ADD8E6;
	margin: 10px;
}

h3 {
	color: #FFFFFF;
}

h4 {
	font-size: 11pt;
	color: #FFFFFF;
}

header {
	font-size: 14pt;
	color: #FFFFFF;
	margin: 10px;
}

footer {
	color: #FFFFFF;
	margin: 5px;
	left: 10px;
	text-align: left;
	bottom: 0;
	position: fixed;
	z-index:-10;
}


p {
	text-indent: 25px;
	color: #FFFFFF;
}

tr, td {
	color: #FFFFFF;
}

.mycode {
  border: #000 solid 5px;
  font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
  font-size: 14px;
  color: #f0f0f0;
  background: #000;
  height:40em;
  overflow-y: scroll;
  overflow-x: hidden;
}
.commandline {
	border: #000 solid 0;
	background: #333333;
	margin: 2px 0 2px 0;
	width:100%;
	height:2em;
}
input, select, textarea {
	margin: 2px 0 2px 5px;
	color: #f0f0f0;
}

input[type=text]:focus, textarea:focus {
	outline: none;
}

footer li {
	font-size: 10pt;
	width: 800px;
	overflow: hidden;
	list-style: none outside none;
	text-indent: 25px;
	color: #FFFFFF;
}

section ul {
	margin-left: 25px;
}
section ol {
	margin-left: 25px;
}


section li {
	text-indent: 5px;
	margin-left: 25px;
	color: #FFFFFF;
} 


body {
	background: #333333;
	width:  100%;
	height: 100%;
	text-align: center;
	min-width:500px;
}

main {
	background: #666666;
	width: 90%;
	text-align: left;
	padding: 10px;
	display: inline-block;
	z-index:10;
}

a, a:visited {
	text-decoration: none;
	color: #FFFFFF;
}

a:hover {
	text-decoration: underline;
	color: #FFFFFF;
}


.siteType {
	margin-bottom: 5px;
}

.myButton {
	background-color:#77b55a;
	border:3px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0 1px 0 #5b8a3c;
}
.myButton:hover {
	background-color:#72b352;
}
.myButton:active {
	position:relative;
	top:1px;
}

